<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">

    <title>BluerankTest</title>
</head>
<body style="background: darkcyan">
    <div id="app"></div>
    <main>
            <h1 style="color: white; margin-left: 35%; margin-top: 200px">RSS parser put your url right below</h1>
            <div style="width: 400px; padding: 10px; margin-left: 45%; margin-top: 50px">
                <form name="rss_read">
                    <input id="remote_url" type="text" name="remote_url" value="" required="required">
                    <button id="load_url" type="button" name="button">Read</button>
                </form>
            </div>
            <br>
            <div style="width: 600px; padding: 10px; margin-left: 500px; ">
                <table id="rss_table" class="table table-striped table-bordered table-hover table-sm no-footer" style="display: none;">
                    <thead style="background-color: bisque">
                        <tr>
                            <th>id</th>
                            <th>Price</th>
                            <th>Availability</th>
                            <th>title</th>
                            <th>Custom_label_0</th>
                            <th>Custom_label_1</th>
                            <th>Custom_label_2</th>
                            <th>Custom_label_3</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: beige">
                        <tr>
                            <td colspan="100%">No data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

         <script type="text/javascript">
            document.getElementById('load_url').addEventListener('click', function(e) {
                let url = document.getElementById('remote_url').value;
                load_rss_to_table(url);
            });

            function load_rss_to_table(theUrl) {
                if (!theUrl) { return; }

                let xmlHttp = null;

                xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", theUrl, false);
                xmlHttp.send(null);

                let res = xmlHttp.response;

                let parser = new DOMParser();
                let xmlDoc = parser.parseFromString(res, 'application/xml');

                if (!xmlDoc) { return; }

                document.getElementById('rss_table').removeAttribute('style');

                let collection = xmlDoc.firstChild.children[0].children;

                if (collection.length) {
                    document.getElementById('rss_table').children[1].innerHTML = '';

                    let cols = ['g:id', 'g:price', 'g:availability', 'title', 'g:custom_label_0', 'g:custom_label_1', 'g:custom_label_2', 'g:custom_label_3'];

                    for (let i=0; i<150; i++) {
                        let item = collection[i].children;
                        let row = {
                            gid: null,
                            gprice: null,
                            gavailability: null,
                            title: null,
                            gcustom_label_0: null,
                            gcustom_label_1: null,
                            gcustom_label_2: null,
                            gcustom_label_3: null,
                        };

                        for (let k=0;k<cols.length; k++) {
                            for (let j=0; j<item.length; j++) {
                                if (cols.includes(item[j].nodeName)) {
                                    let name = item[j].nodeName;
                                    name = name.replace(':','');
                                    // NOTE: make a full string regex, and allow only next [a-zA-Z_]

                                    row[name] = item[j].innerHTML;
                                }
                            }
                        }

                        let row_html = '<tr>'+
                            '<td>'+ row.gid +'</td>'+
                            '<td>'+ row.gprice +'</td>'+
                            '<td>'+ row.gavailability +'</td>'+
                            '<td>'+ row.title +'</td>'+
                            '<td>'+ row.gcustom_label_0 +'</td>'+
                            '<td>'+ row.gcustom_label_1 +'</td>'+
                            '<td>'+ row.gcustom_label_2 +'</td>'+
                            '<td>'+ row.gcustom_label_3 +'</td>'+
                        '</tr>';
                        document.getElementById('rss_table').children[1].innerHTML = document.getElementById('rss_table').children[1].innerHTML+row_html;
                    }
                } else {
                    document.getElementById('rss_table').children[1].innerHTML = '<tr><td colspan="100%">No data</td></tr>';
                }
            }
        </script>

    {% load static %}
    <script src="{% static 'frontend/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>